// Color cube Palette
$color-cube-white: #ffff;
$color-cube-cinder: #171520;
$color-cube-delta: #b1b1b0;
$color-cube-texas-rose:#febc4c;
$color-cube-storm-dust:#6c6c6b;
$color-cube-mountan-meadow:#21ad95;
$color-cube-hawaiian-tan:#9f5d12;
$color-cube-atlantis:#94c92c;
$color-cube-catalina-blue:#08427d;

//Median cut Palette

$median-cut-shark:#22272d;
$median-cut-quill-gray:#e1e2e0;
$median-cut-spicy-mix:#825c3e;
$median-cut-gunsmoke:#8a9391;
$median-cut-driftwood:#ae8d51;

//Material Design Palette

$meterial-design-potters-clay:#7f5838;
$meterial-design-lemon-grass:#8b8d8a;
$meterial-design-jungle-green:#2eab96;
$meterial-design-vulcan:#141423;
$meterial-design-casablanca:#f8b54e;


// Navbar color

$navbar-item-color: #00071e;
$cart-items-number: #2eab96;

$input-background-color: #f5f5f5;
$input-icon-color: #2eab96;


// Hero color

$hero-text-color: #ffff;
$hero-btn-background: #ffff;
$hero-btn-text-color: #2eab96;

$hero-right-bar-background: #ffff;
$hero-right-bar-icon-color: #00071e;

//Main Color

$main-text-color: #696969;

// Course Color

$course-pretitle-text-color: #696969;
$course-title-text-color: #2eab96;

$course-background-color: #ffff;
$course-price-text-color: #2eab96;
$course-text-color: #696969;


// Data Color

$data-value-color: #2eab96;
$data-text-color: #696969;

// Blog Color

$blog-background-color: #f8f8f8;
$blog-background-color-hover: #ffff;
$blog-pretitle-text-color: #696969;
$blog-title-text-color: #2eab96;

$article-text-color: #696969;
$article-text-color-hover: #2eab96;

// Newsletter color

$nl-title-text-color: #2eab96;
$nl-btn-background-color: #2eab96;
$nl-btn-text-color: #ffff;


// Footer color

$footer-background-color: #171621;
$footer-title-color: #ffff;
$footer-text-color: #abab9e;
